.choose-form-name {
  .w-350px;
  .bg-80;
  .marckScript-24p-white;
  .text-center;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  button {
    .btn-reset;
    .btn-text-ital-hover-A100;
  }
}

form.account {
  .flex-col-row-center;
  .w-350px;
  .bg-70;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 0 0 5px 5px;
  & > div {
    margin: 5px 0;
  }
}