@50: #E0F2F1;
@100: #B2DFDB;
@200: #80CBC4;
@300: #4DB6AC;
@400: #26A69A;
@500: #009688;
@600: #00897B;
@700: #00796B;
@800: #00695C;
@900: #004D40;
@A100: #A7FFEB;
@A200: #64FFDA;
@A400: #1DE9B6;
@A700: #00BFA5;

@white: #FFFFFF;

//background-colors
.bg-90{
  background-color: @900;
}
.bg-80{
  background-color: @800;
}
.bg-70{
  background-color: @700;
}

.bg-60{
  background-color: @600;
}

.bg-400{
  background-color: @A400;
}

.bg-50{
  background-color: @50;
}

//colors
.color-white{
  color: @white;
}