//
body{
  margin:0;
  .font-family-CormorantInfant-Med;
  font-size: 16px;
}

//display
.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

//size
.w-100p {
  width: 100%;
}

.w-350px{
  width: 350px;
}

.h-100p {
  height: 100%;
}

//position
.p-abs {
  position: absolute;
}

.p-fx{
  position: fixed;
}

.p-rel{
  position: relative;
}

.text-center{
  text-align: center;
}
